.card {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
}

/* ---------- IMAGE ---------- */

.imageWrapper {
  height: 320px;
  background-color: #f8f9fa;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Desktop: show full poster */
@media (min-width: 992px) {
  .image {
    object-fit: contain;
  }
}

/* ---------- SECTIONS ---------- */

.section {
  border-bottom: 1px solid light-dark(
    var(--mantine-color-gray-3),
    var(--mantine-color-dark-4)
  );
  padding: var(--mantine-spacing-md);
}

/* ---------- TITLE ---------- */

.title {
  line-height: 1.25;
  min-height: calc(1.25em * 2);
  max-height: calc(1.25em * 4);
  overflow: hidden;
}


/* остання секція — без border і без padding-bottom */
.section:last-child {
  border-bottom: none;
  padding-bottom: var(--mantine-spacing-md);
}
